RESTIC_PASSWORD=          # openssl rand -hex 32 | Store in GitHub Secrets: RESTIC_PASSWORD
YANDEX_USER=              # Yandex login. Store in GitHub Secrets: YANDEX_WEBDAV_USER
YANDEX_PASS=              # Yandex app-password. Store in GitHub Secrets: YANDEX_WEBDAV_PASS
TELEGRAM_BOT_TOKEN=       # Telegram bot token. Store in GitHub Secrets: TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=         # Telegram chat ID. Store in GitHub Secrets: TELEGRAM_CHAT_ID
