JWT_SECRET=<generate: openssl rand -hex 32>        # GitHub Secret: AUTHELIA_JWT_SECRET
SESSION_SECRET=<generate: openssl rand -hex 32>    # GitHub Secret: AUTHELIA_SESSION_SECRET
REDIS_PASSWORD=<generate: openssl rand -base64 24> # GitHub Secret: REDIS_PASSWORD
DOMAIN=sttraiding.ru
